---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */
@use 'colors/light';
@use 'colors/dark';
@use "animation.scss";
@use "details.scss";


html {
  @media (prefers-color-scheme: light) {
    &:not([data-mode]),
    &[data-mode='light'] {
      @include light.styles;
    }

    &[data-mode='dark'] {
      @include dark.styles;
    }
  }

  @media (prefers-color-scheme: dark) {
    &:not([data-mode]),
    &[data-mode='dark'] {
      @include dark.styles;
    }

    &[data-mode='light'] {
      @include light.styles;
    }
  }
}


